@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Manrope:wght@200..800&display=swap');

:root {
    --bg-color: #ffffff;
    --text-color: #1a1a1a;
    --header-color: #FFFFFF;
    --btn-color: #F5F5F5;
    --hover-color: #D9D9D9;
    --stroke-svg: #000000;
}

/* tema escuro */
[data-theme="dark"] {
    --bg-color: #333333;
    --text-color: #ffffff;
    --header-color: #292929;
    --btn-color: #333333;
    --hover-color: #3A3A3A;
    --stroke-svg: #FFFFFF;
}

html,
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    transition: background-color 0.3s ease, color 0.3s ease;
}

.lexend {
    font-family: "Lexend", sans-serif;
    font-weight: 600;
}

.manrope {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
}

.bodyMenu {
    overflow-y: auto;
    scroll-behavior: smooth;
    margin: 0;
}

.headerMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 11%;
    background: var(--header-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 2.875rem;
    box-sizing: border-box;

    z-index: 100;
}

.headerMenu h1 {
    margin-left: 0;
}

.navCenter {
    flex: 1;
    display: flex;
    justify-content: center;
}

.menu {
    list-style: none;
    display: flex;
    /* coloca os <li> lado a lado */
    gap: 0.625rem;
    /* espaço entre botões */
    margin: 0;
    padding: 0;
    align-items: center;
}

.menu span {
    font-size: 1.562rem;
}

.menu>li {
    position: relative;
    /* para posicionar o submenu */
}

/* Submenu escondido por padrão */
.submenu {
    display: none;
    position: absolute;
    width: 21.2vw;

    background: var(--btn-color);

    left: 0;
    top: calc(100% + 0.562rem);
    border-radius: 1.875rem;
    padding: 0.625rem;
    list-style: none;
    margin: 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.submenu li {
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    
    margin: 1.312rem;
    height: 2.75vh;
}

.submenu li:hover {
    position: relative;
    background-color: var(--hover-color);
    border-radius: 1.25rem;

    left: 1%;
}

/* Mostrar submenu ao passar mouse */
.menu>li:hover .submenu {
    display: block;
}

.dropdown {
    position: relative;
    background: var(--btn-color);
    cursor: pointer;
    border-radius: 1.875rem;
}

.dropdown:hover .submenu {
    display: block;
}

.dropdown-menu {
    position: absolute;
    top: 120%;
    left: 0;
    background: var(--btn-color);
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0.62rem;
    margin: 0;
    min-width: 150px;

    display: none;
}

.dropdown-menu li {
    padding: 0.5rem 0.75rem;
    border-radius: 0.312rem;
    font-family: "Lexend", sans-serif;
    cursor: pointer;
    white-space: nowrap;
}

/* quando passa o mouse no botão, aparece o menu */
.dropdown:hover .dropdown-menu {
    display: block;
}

.buttonsHeader {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 0.562rem 0.875rem;
    border: 0;
    border-radius: 30px;
    background: var(--btn-color);

    cursor: pointer;

    width: auto;
    white-space: nowrap;
}

.buttonsHeaderText {
    margin: 0 0 0 1%;
    display: inline-block;
    padding: 0.562rem 0.875rem;
    color: var(--text-color);
}

.cadastrar-se {
    box-shadow: inset 0 0 0 0.25rem #888AE6;
}

.cadastrar-se span {
    color: #888AE6;
    font-size: 1.562rem;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    /*faz com que o body ocupe a altura total da tela*/
    /* vh ---> viewport height */
    /* vw ---> viewport width */
}

.quadrado {
    display: flex;
    width: 80.7%;
    height: 63.5%;
    background-color: #F6F6FF;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    /*asubtrair -> p/ o paddin e a border, sejam incluídos dentro da largura e altura, sem aumentar o tamanho do quadrado.*/
    /* BOX-SHADOW SINTAXE: offset-x offset-y blur-radius spread-radius color; */
    /* box-shadow: 0px 0px 30px 10px #D5D6FF; */
    box-shadow: #888AE6 -5px 5px, #9395e7 -10px 10px, #b7b8f3 -15px 15px, #c6c7ec -20px 20px, rgb(200, 202, 236) -20px 20px 10px 1px;
}

.topo {
    display: flex;
    padding-top: 2vh;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.tudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4.98vh;
}

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.titulo {
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 5vh;
}


@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.subtitulo {
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
}

.click {
    margin-left: 10px;
    color: #A7A9FF;
}

.click:hover {
    color: #888AE6;
}

input::placeholder {
    font-family: 'Manrope', sans-serif;
}

.email,
.senha {
    width: 558px;
    height: 65px;
    border-radius: 20px;
    border: none;
    font-size: large;
}

.email:hover,
.senha:hover {
    background-color: #f7f7f7;
}

.entrar {
    width: 570px;
    height: 65px;
    border-radius: 35px;
    border: none;
    background-color: #888AE6;
    color: #FFFFFF;
    font-size: x-large;
    cursor: pointer;

}

.entrar:hover {
    background-color: #7778cb;
}

.email {
    background-image: url('images/Mail.png');
    background-repeat: no-repeat;
    background-position: 20px center;
    background-size: 24px 24px;
    /*largura e altura*/
    padding-left: 60px;
    /* espaço para o ícone */
    box-sizing: border-box;
}


.senha {
    background-image: url('images/Lock.png');
    background-repeat: no-repeat;
    background-position: 20px center;
    /*20 px da esquerda da caixa e centro da altura dela*/
    background-size: 24px 24px;
    padding-left: 60px;
    box-sizing: border-box;
}


.entrar {
    background-image: url('images/Arrow\ right.png');
    background-repeat: no-repeat;
    background-position: 20px center;
    background-size: 40px 35px;
    gap: 0.5rem;
    /*separa o icone da fonte e centraliza o textp*/
    /* box-sizing: border-box; --> não precisa pois não está adicionadno o padding (que faz o tamanho do botão acabar aumentando)*/
}


/* @media (condicao) {estilizaçao} -> pode escrever só o que muda*/

@media screen and ( (max-width: 768px)){
     .quadrado {
        width: 85%;
        /*melhor usar % auando for para telas menores*/
        height: auto;
    }

    .titulo {
        font-size: 1.2rem;
        margin-top: 10px;
    }

    .tudo {
        margin-top: 10px;
        gap: 30px;
    }

    .email, .senha {
        width: 90%;
        height: 9vh;
        font-size: 1.4rem;
        padding-left: 50px;
        background-size: 20px 20px;
    }

    .entrar {
        width: 90%;
        height: 9vh;
        font-size: 1.5rem;
        border-radius: 20px;
        box-sizing: border-box;
    }

    .subtitulo {
        font-size: 0.9rem;
        text-align: center;
    }

    .click {
        margin-top: 5px;
    }
}